$blue: #2867AC;
$light-blue: #86CBE0;
$red: #DD4E4A;

$primary: $blue;
$info: $light-blue;
$danger: $red;

@import "bulma";

.brand-bar{
  border-top: solid 10px $light-blue;
}

html{
  background-color: $light;
}